:root {
  --primary-color: #f8f7f6;
  --secondary-color: #19263f;
  --background-color: #1c2e50;
  --temporary-color: #14133b;
}
.navbar {
  padding: 0 2.1999999999999993vw;
}

.nav-container {
  /* /* width: 100vw; */
  height: 10vh;
  padding: 0.8vh 0.4vw;
  display: flex;
  /* background-color: var(--secondary-color); */
  background-image: linear-gradient(
    135deg,
    var(--secondary-color),
    var(--primary-color),
    var(--secondary-color)
  );
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2vw;
  color: var(--primary-color);
}

.navlist,
.navbar {
  display: flex;
}
.navlist {
  padding-bottom: 1vh;
  padding-top: 1vh;
  padding-right: 0;
  padding-bottom: 1vh;
}
ul {
  list-style-type: none;
}

.items {
  color: var(--primary-color);
  text-decoration: none;
}
.items:hover {
  color: var(--secondary-color);
}
.navlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-items {
  margin: 0 1vw;
}
.logo-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4vh;
}
.logo-icon {
  width: 50%;
  height: 100%;
  margin-right: 1vw;
}
